.container {
  display: flex;
  flex-direction: column;
}

.select {
  width: 930px;
  height: 60px;

  padding-left: 24px;

  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0px;

  border: none;
  outline: none;

  margin-bottom: 30px;
}
